- path = path || provider.downcase.underscore
- auth_endpoint = "/auth/#{path}"
- img_name = image || "#{provider.underscore}.jpeg"
- img_url = "social/#{img_name}"
.social.button{:onclick => "document.location.href='#{auth_endpoint}'"}
  = image_tag(img_url)
  %label #{provider}

