/ Social Network Providers
- social_sign_in_button_partial = 'member/auth/social_sign_in_button'
= render partial: social_sign_in_button_partial, locals: { provider: "Facebook",   image: "facebook.jpeg" }
= render partial: social_sign_in_button_partial, locals: { provider: "Twitter",    image: "twitter.jpeg" }
= render partial: social_sign_in_button_partial, locals: { provider: "Google Plus",image: "googleplus.png", path: "google_oauth2" }
/ = render partial: social_sign_in_button_partial, locals: { provider: "Meetup",     image: "meetup.png" }
%br
/ Email Providers
= render partial: social_sign_in_button_partial, locals: { provider: "Gmail",      image: "gmail.jpeg",      path: "google_oauth2" }
/ = render partial: social_sign_in_button_partial, locals: { provider: "Yahoo Mail", image: "yahoomail.jpeg",  path: "yahoo" }
= render partial: social_sign_in_button_partial, locals: { provider: "Hotmail",    image: "hotmail.jpeg",    path: "windowslive" }
%br
/ Blog Host Providers
= render partial: social_sign_in_button_partial, locals: { provider: "Tumblr",     image: "tumblr.jpeg" }
= render partial: social_sign_in_button_partial, locals: { provider: "Blogger",    image: "blogger.jpeg",    path: "google_oauth2" }
%br
/ Other Service Providers
= render partial: social_sign_in_button_partial, locals: { provider: "RunKeeper",  image: "runkeeper.jpeg"}
= render partial: social_sign_in_button_partial, locals: { provider: "LinkedIn",   image: "linkedin.jpeg" }
/ = render partial: social_sign_in_button_partial, locals: { provider: "Netflix",    image: "netflix.jpeg" }