.section
  %h2= "Welcome, #{current_member.nickname}"
  %p
    = "You have"
    %a{:href => dashboard_websites_path}
      = "#{pluralize(@sites.count, 'registered site')}!"


- @html_page_title = "dashboard"
- if @sites.empty?
  .section
    = render :partial => 'registered_website_add'

- if 1 == @sites.count
  .section
    = render :partial => 'registered_website', :locals => {:site => @sites.first}
