- @html_page_title = "plans"

.section
  %h3= "#{@plan.name}"
  %p
    = "#{@plan.description}"
  .newline= "Base Profit Sharing Rate: #{number_to_percentage(100*@plan.base_profit_sharing_rate, precision: 0)}"
  .newline= "Subscription Cost: #{number_to_currency(@plan.monthly_subscription_rate)}"
  .newline= "Referral Rate: #{number_to_percentage(100*@plan.referral_rate, precision: 0)}"
  %br
  .newline Use your Share URL to get more referrals:
  .newline.selectable= "http://rylyz.com/play?lrRef=#{current_blogger.share_key}"
