- @html_page_title = "settings:#{@site.domain}"

.section
  %h3
    = "rylyz wygyt for #{@site.domain}:"
  .wygyt-code
    %textarea{rows:3}= @code_snippet
    .copy copy to clipboard
  %h3
    Add this HTML5 code to the pages on your website
  %p
    The Rylyz Wygyt will allows #{@site.domain} visitors to play games and use cool apps!
.section
  %h2
    =h @site.title
  %p
    =h @site.description
  %h3
    =h @site.url
