%h1= "Members (#{@members.count})"
- @members.each do |member|
  - blogger = member.blogger
  - num_sites = blogger ? blogger.sites.count: 0
  %p= "#{member.nickname}: <#{member.email}> (#{pluralize(num_sites, 'registered website')})"
  - if member.blogger
    %p= "BLOGGER: #{member.blogger.nickname} <#{member.blogger.email}> [#{member.blogger.share_key}]}"
    - member.blogger.sites.each do |site|
      %a{:href=>site.url}
        = site.domain
  - if not member.blogger
    %p NO BLOGGER BINDING
  - member.rylyz_member_presences.each do |presence|
    %p= "#{presence.provider}[#{presence.sign_in_count}]:#{presence.nickname} <#{presence.email}> [#{presence.name} = #{presence.first_name} #{presence.last_name}]"
  %br

%h1= "MemberPresence (#{@presences.count})"
- @presences.each do |presence|
  %p= "#{presence.provider}[#{presence.sign_in_count}]:#{presence.nickname} <#{presence.email}> [#{presence.name} = #{presence.first_name} #{presence.last_name}]"
  %br

%h1= "Websites (#{@websites.count})"
- @websites.each do |site|
  %p= site.url
  %br
