%h2= "#{@signups.count} Bloggers"
%p
  %ul
    - @plans.each do |plan|
      %li= "#{pluralize(plan.bloggers.count, 'blogger')} signed up for the #{plan.name} plan"
.section
  %form{:action=>"load_signups", :method=>"POST"}
    %button.submit-button{:type=>"submit"} Load Signups
  %form{:action=>"send_activation_emails", :method=>"POST"}
    %button.submit-button{:type=>"submit"} Activate!

.section
  %ol
    - @signups.each do |blogger|
      - psr = (100 * (blogger.plan.base_profit_sharing_rate + (blogger.plan.referral_rate * blogger.share_conversions))).to_i
      %li
        - if 0 < blogger.share_conversions
          = "<div style='color:blue;'>".html_safe
        = blogger.plan.name
        = " (#{psr}%)"
        = blogger.nickname
        = "[#{blogger.share_key}]"
        = "#{blogger.share_conversions} / #{blogger.share_clicks}".html_safe if blogger.share_clicks>0
        = " {referred by:#{blogger.referred_by}}".html_safe if blogger.referred_by
        - if 0 < blogger.share_conversions
          = "</div>".html_safe
