.section
  = "Threads (#{Thread.list.count})"
  %ul
  - Thread.list.each do |t|
    %li
      = "p#{t.priority}"
      = t.alive? ? "alive": "ended"
      = t[:name]
      = " - #{Util.pluralize(t[:num_jobs], 'jobs')}"

.section
  Public
  %ul
  - @channels[:public].each do |key, thread|
    %li
      = "#{key}: #{thread}"

.section
  Private
  = "Channels: #{@channels.size} - #{@channels[:private].size}"
  %ul
    %li
      %span.wide400.inline.button
        key
      %span.wide50.inline.button
        alive?
      %span.wide50.inline.button
        status
      %span.wide50.inline.button
        socket
    /- @channels[:private].first[1][:socket].disconnect
    - @channels[:private].each do |key, thread|
      %li
        %span.wide400.inline
          = "#{key}"
        %span.wide50.inline
          = "#{thread.alive?}"
        %span.wide50.inline
          = "#{thread.status}"
        %span.wide200.inline
          = "#{thread[:socket].connected}"
          = "#{thread[:socket].socket_id}"

.section
  Presence
  %ul
  - @channels[:presence].each do |key, thread|
    %li
      = "#{key}: #{thread}"
