%h2= "#{@signups.count} Bloggers"

%form{:action=>"load_signups", :method=>"POST"}
	%button.submit-button{:type=>"submit"} Load Signups

- @signups.each do |blogger|
	%div 
		- username = blogger.nickname.split('@').first
		= "#{username}"
		= "[share code: #{blogger.share_url}]" if blogger.share_url
		= "<B>#{blogger.share_conversions}</B> / #{blogger.share_clicks} (conversions/clicks)".html_safe if blogger.share_conversions>0 or blogger.share_clicks>0
		= "<b>{referred by:#{blogger.referred_by}}</b>".html_safe if blogger.referred_by
