<style type="text/css">
.social.button {
  position:relative;
  display: inline-block;
  border: 1px solid black;
  width: 180px;
  height: 32px;
  padding: 4px;
  margin: 8px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #EFEFEF;
}
.social.button:hover {
  background-color: #FFFFEE;
}
.social.button img {
  display: block;
  float: left;
  width: 32px;
  height: 32px;
}
.social.button img.meetup {
  width: 41px;
  height: 27px;
}
.social.button label{
  display: block;
  float: left;
  margin: 0px 8px;
  line-height: 32px;
  font-size: 20px;
  cursor: pointer;
}

</style>
</head>

<body>
<h1></h1>

<div onclick="document.location.href='/auth/facebook'" class="social button clear">
  <%= image_tag("social/facebook.jpeg") %>
  <label>Facebook</label>
</div>
  
<div onclick="document.location.href='/auth/twitter'" class="social button">
  <%= image_tag("social/twitter.jpeg") %>
  <label>Twitter</label>
</div>

<div onclick="document.location.href='/auth/meetup'" class="social button">
  <%= image_tag("social/meetup.png") %>
  <label>meetup (ssl?)</label>
</div>

<br/>
<div onclick="document.location.href='/auth/google_oauth2'" class="social button">
  <%= image_tag("social/gmail.jpeg") %>
  <label>Gmail</label>
</div>
<div onclick="document.location.href='/auth/yahoo'" class="social button">
  <%= image_tag("social/yahoomail.jpeg") %>
  <label>Yahoo Mail</label>
</div>
<div onclick="document.location.href='/auth/windowslive'" class="social button">
  <%= image_tag("social/hotmail.jpeg") %>
  <label>Hotmail</label>
</div>

<br/>

<div onclick="document.location.href='/auth/tumblr'" class="social button">
  <%= image_tag("social/tumblr.jpeg") %>
  <label>Tumblr</label>
</div>
<div onclick="document.location.href='/auth/google_oauth2'" class="social button">
  <%= image_tag("social/blogger.jpeg") %>
  <label>Blogger</label>
</div>

<br/>

<div onclick="document.location.href='/auth/runkeeper'" class="social button">
  <%= image_tag("social/runkeeper.jpeg") %>
  <label>RunKeeper</label>
</div>

<div onclick="document.location.href='/auth/linkedin'" class="social button">
  <%= image_tag("social/linkedin.jpeg") %>
  <label>LinkedIn</label>
</div>

<div onclick="document.location.href='/auth/netflix'" class="social button">
  <%= image_tag("social/netflix.jpeg") %>
  <label>netflix</label>
</div>
