%form{ :action => showcase_save_trivia_url , :method => 'POST'}
  %input{ :type => 'text', :name => 'blog_trivia[url]', :value => "", :placeholder => 'Blog Url' }
  %input{ :type => 'text', :name => 'trivia[question]', :value => "", :placeholder => 'Question'}
  %button{ :type => 'submit'}
    Save

- @trivias.each do |trivia|
  %div
    %a{ :href => showcase_edit_trivia_url(trivia)}
      = "#{trivia.correct_answer}/#{trivia.options.count} | #{trivia.question} | #{trivia.blog_trivia.url}"
    %span
      %form{ :action => showcase_delete_trivia_url(trivia) , :method => 'POST'}
        %button{ :type => 'submit'}
          Delete
