%h1 Sign in securely!
= render partial: "member/auth/social_sign_in"

/ move this into head
%script(type="text/javascript" src="/assets/vendor/js.stripe.com-v1.js")

- if not member_signed_in?
  = "" # render social login

%form#payment-form{:action=>"", :method=>"POST"}
  #payment-errors
    %noscript Javascript is not enabled. First enable it in your browser settings in order to submit this form.
  .form-row
    %label Card Number
    %input.card-number{:type=>"text", :size=>"20", :autocomplete=>"off"}
  .form-row
    %label CVC
    %input.card-cvc{:type=>"text", :size=>"4", :autocomplete=>"off"}
  .form-row
    %label Expiration (MM/YYYY)
    = select_month nil, {add_month_numbers:true}, {name: nil, class: "card-expiry-month"}
    = select_year nil, {start_year: Date.today.year, end_year: Date.today.year + 15}, {name: nil, class: "card-expiry-year"}
  %button.submit-button{:type=>"submit"} Submit Payment

:javascript
  window.Subscription = function(subscriptionModule){
    var subscription = subscriptionModule;

    subscription.setupForm = function() {
      $("#payment-form").submit(function(event) {
        $('.submit-button').attr("disabled", true); // prevent repeated clicks
        subscription.processCard();
        return false;
      });
    }

    subscription.processCard = function() {
      var card = {
        number: $('.card-number').val(),
        cvc: $('.card-cvc').val(),
        exp_month: $('.card-expiry-month').val(),
        exp_year: $('.card-expiry-year').val()
      };
      Stripe.createToken(card, subscription.handleStripeResponse);
    }

    subscription.handleStripeResponse = function stripeResponseHandler(status, response) {
      if (200==status) {
          var form$ = $("#payment-form");
          // +++* SWITCH TO HTTPS
          form$.attr("action", "http://#{RYLYZ_PLAYER_HOST}/payment/stripe/authorize_charge")
          
          // insert the token into the form so it gets submitted to the server
          var token = response['id']; // token contains id, last4, and card type
          form$.append("<input type='hidden' name='stripeToken' value='" + token + "'/>");
          //form$.get(0).submit();
          alert(token);
      } else {
        $("#payment-errors").html(response.error.message);
        $('.submit-button').attr("disabled", false); // re-enable to submit corrections
      }
    }

    return subscription;
  }(window.Subscription || {} )

  $(function() {
      Stripe.setPublishableKey('#{SECRETS[:STRIPE][:PUBLISH]}');
      Subscription.setupForm();  
  });

