!!! 5
%html{ :lang => "en"}
  %head
    %title= "Chat Plays"
    = stylesheet_link_tag    "base", :media => "all"
    = stylesheet_link_tag    "website/chat_plays/application", :media => "all"
    = javascript_include_tag "website/chat_plays/application"
    = csrf_meta_tags
  %body.chat-plays
    %header
      %h1 Website
      #site-menu
        %ul
          %li= link_to  "Home", :home
          %li= link_to  "Pricing", :pricing
          %li= link_to  "Profiting", :profiting
          %li= link_to  "Installing", :installing
          %li= link_to  "Sign Up", :sign_up

  = yield

  %footer
    %p
      Copyright 2011 My Name
    %li= link_to  "Contact Us", :contact_us
