!!! 5
%html{ :lang => "en"}
  %head
    %title= "rylyz Chat Plays"

    / = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Ubuntu", :media => "all"
    / = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Istok+Web", :media => "all"
    = stylesheet_link_tag    "fonts/istokweb", :media => "all"
    = stylesheet_link_tag    "fonts/ubuntu", :media => "all"

    = stylesheet_link_tag    "base/index", :media => "all"
    = stylesheet_link_tag    "website/base/index", :media => "all"
    = stylesheet_link_tag    "website/chat_plays/application", :media => "all"

    = javascript_include_tag "base/index", :media => "all"
    = javascript_include_tag "website/base/index", :media => "all"
    = javascript_include_tag "website/chat_plays/application"

    = csrf_meta_tags
  %body.rylyz.chat-plays
    #site-header
      #site-name
        #site-logo=image_tag "rylyz/rylyz-logo-green.png"
        = @html_page_title
      #site-menu
        .primary.toolbar
          %a{:href=>home_page_url}
            %button Home
          %a{:href=>pricing_url}
            %button Pricing
          %a{:href=>profiting_url}
            %button Profiting
          %a{:href=>installing_url}
            %button Installing
          %a{:href=>sign_up_url}
            %button Sign Up

    #content
      - unless flash.empty?
        #flash-messages
          - flash.each do |key, msg|
            - unless msg.blank?
              %div{:class=>key}
                %p.close(onclick="Effect.Fade('#{key}')")
                  = '&nbsp;X&nbsp;'.html_safe
                %p.message= msg
      = yield

    #site-footer
      %p
        %strong &copy; rylyz.com
        = link_to  "privacy policy", "#"
        = link_to  "contact us", "#"
