!!! 5
%html{ :lang => "en"}
  %head
    %title= "rylyz dashboard"

    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Istok+Web", :media => "all"
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Lora", :media => "all"
    
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Ubuntu", :media => "all"
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Vollkorn", :media => "all"

    = stylesheet_link_tag    "base/index", :media => "all"
    = stylesheet_link_tag    "website/base/index", :media => "all"
    = stylesheet_link_tag    "website/dashboard/application", :media => "all"

    = javascript_include_tag "base"
    = javascript_include_tag "website/base"
    = javascript_include_tag "website/dashboard/application"

    = csrf_meta_tags
  %body.rylyz.dashboard
    #site-header
      #site-name
        #site-logo=image_tag "rylyz/rylyz-logo-green.png"
        = "dashboard" if @html_page_title.nil?
        = "dashboard: #{@html_page_title}" unless @html_page_title.nil?
      #site-menu
        %ul
          %li.menu-item= link_to_unless_current  "Home", :dashboard
          %li.menu-item= link_to_unless_current  "Sites", :dashboard_sites
          %li.menu-item= link_to_unless_current  "Referrals", :dashboard_referrals
          %li.menu-item= link_to_unless_current  "Analytics", :dashboard_analytics
          %li.menu-item= link_to_unless_current  "Billing", :dashboard_billing
          %li.menu-item= link_to_unless_current  "Plan", :dashboard_plan
          %li.menu-item= link_to_unless_current  "login", :dashboard_login
          - unless current_member.nil?
            %li.menu-item= link_to  current_member.email || current_member.nickname, :dashboard_profile
            %li.menu-item= link_to "logout", :dashboard_logout
          / %li#profile.button.rightmost
          /   %a{:href=>dashboard_profile_url}
          /     .button= current_member.email || current_member.nickname
          / %li#logout.button.rightmost
          /   %a{:href=>dashboard_logout_url}
          /     .button logout

    #messages
      - flash.each do |key, msg|
        .flash{:id=>key}
          %p.rightmost= link_to_function 'X', "Effect.Fade('#{key}')"
          %p= msg
      - if flash.empty?
        #noflash
          %p &nbsp;
    #content
      = yield

    %footer
      %p
        Copyright 2011 My Name
      %li= link_to  "Contact Us", :contact_us
