!!! 5
%html{ :lang => "en"}
  %head
    %title= "rylyz dashboard"

    / = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Ubuntu", :media => "all"
    / = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Istok+Web", :media => "all"
    = stylesheet_link_tag    "fonts/istokweb", :media => "all"
    = stylesheet_link_tag    "fonts/ubuntu", :media => "all"

    = stylesheet_link_tag    "base/index", :media => "all"
    = stylesheet_link_tag    "website/base/index", :media => "all"
    = stylesheet_link_tag    "website/dashboard/application", :media => "all"

    = javascript_include_tag "base/index"
    = javascript_include_tag "website/base/index"
    = javascript_include_tag "website/dashboard/application"

    - unless @do_not_show_widget or 'rylyz-local.com' == request.host # do not show the widget, if on rylyz-local (takes over session)
      - wygyt_host = ['www.rylyz.com', 'rylyz.com'].include?(request.host) ?  'wygyt.rylyz.ws' : request.host.gsub(/\.com/, '.ws')
      = javascript_include_tag "http://#{wygyt_host}/assets/wygyt.js?sitekey=#{RYLYZ_PLAYER_HOST}x88888888"
    
    = yield :head
    = csrf_meta_tags
  %body.rylyz.dashboard
    #site-header
      #site-name
        #site-logo
          %a{href: root_path}
            =image_tag "rylyz/rylyz-logo-green.png"
        = @html_page_title
      #site-menu
        .account.toolbar
          %a{:href=>dashboard_me_path, :title=>"account profile"}
            %button me
          - if blogger_signed_in?
            %a{:href=>dashboard_logout_path, :title=>"logout"}
              %button.logout x
        .primary.toolbar
          - unless blogger_signed_in?
            %a{:href=>home_page_path}
              %button home
          %a{:href=>dashboard_path}
            %button dashboard
          %a{:href=>dashboard_dollar_path}
            %button dollar

    #content
      - unless flash.empty?
        = render :partial => 'util/flash_messages'
      .right-column
        #submenu
          - unless @html_submenu_buttons.nil?
            .secondary.toolbar.round-corners
              - @html_submenu_buttons.each do |button|
                %a{:href=>button[:href]}
                  %button{:title=>button[:title]}
                    = button[:name]

      .left-column
        = yield

    #site-footer
      %p        
        = link_to "&copy; rylyz.com".html_safe, root_path
        = link_to  "privacy policy", privacy_policy_path
        = link_to  "contact us", contact_us_path
