!!! 5
%html{ :lang => "en"}
  %head
    %title= "rylyz dashboard"

    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Istok+Web", :media => "all"
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Lora", :media => "all"
    
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Ubuntu", :media => "all"
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Vollkorn", :media => "all"

    = stylesheet_link_tag    "base/index", :media => "all"
    = stylesheet_link_tag    "website/base/index", :media => "all"
    = stylesheet_link_tag    "website/dashboard/application", :media => "all"

    = javascript_include_tag "base/index", :media => "all"
    = javascript_include_tag "website/base/index", :media => "all"
    = javascript_include_tag "website/dashboard/application"

    = csrf_meta_tags
  %body.rylyz.dashboard
    #site-header
      #site-name
        #site-logo=image_tag "rylyz/rylyz-logo-green.png"
        = @html_page_title
      #site-menu
        %ul
          %li.menu-item= link_to_unless_current "dashboard", :dashboard
          %li.menu-item= link_to_unless_current "sites", :dashboard_sites, :title => "your websites"
          %li.menu-item= link_to_unless_current "referrals", :dashboard_referrals, :title => "your referrals"
          %li.menu-item= link_to_unless_current "analytics", :dashboard_analytics, :title => "your insights"
          %li.menu-item= link_to_unless_current "billing", :dashboard_billing, :title => "your credit card info"
          %li.menu-item= link_to_unless_current "plan", :dashboard_plan, :title => "your subscription"
          %li.menu-item= link_to_unless_current "login", :dashboard_login
          - unless current_member.nil?
            %li.menu-item= link_to "me", :dashboard_profile, :title => "account profile"
            %li.menu-item.logout= link_to "X", :dashboard_logout, :title => "logout"
          / %li#profile.button.rightmost
          /   %a{:href=>dashboard_profile_url}
          /     .button= current_member.email || current_member.nickname
          / %li#logout.button.rightmost
          /   %a{:href=>dashboard_logout_url}
          /     .button logout

    #content
      - unless flash.empty?
        #flash-messages
          - flash.each do |key, msg|
            %div{:class=>key}
              %p.close(onclick="Effect.Fade('#{key}')")
                = '&nbsp;X&nbsp;'.html_safe
              %p.message= msg
      = yield

    %footer
      %p
        Copyright 2011 My Name
      %li= link_to  "Contact Us", :contact_us
