!!! 5
%html{ :lang => "en"}
  %head
    %title= "rylyz dashboard"

    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Istok+Web", :media => "all"
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Lora", :media => "all"
    
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Ubuntu", :media => "all"
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Vollkorn", :media => "all"

    = stylesheet_link_tag    "base", :media => "all"
    = stylesheet_link_tag    "website/base", :media => "all"
    = stylesheet_link_tag    "website/dashboard/application", :media => "all"

    = javascript_include_tag "base"
    = javascript_include_tag "website/base"
    = javascript_include_tag "website/dashboard/application"

    = csrf_meta_tags
  %body.rylyz.dashboard
    #site-header
      .site-name
        .site-logo=image_tag "rylyz/green-logo.png"
        = "dashboard" if @html_page_title.nil?
        = "dashboard: #{@html_page_title}" unless @html_page_title.nil?
        %span#notice= notice
      #site-menu
        %ul
          %li= link_to  "Home", :dashboard
          %li= link_to  "Sites", :dashboard_sites
          %li= link_to  "Referrals", :dashboard_referrals
          %li= link_to  "Analytics", :dashboard_analytics
          %li= link_to  "Billing", :dashboard_billing
          %li= link_to  "Plan", :dashboard_plan
          %li= link_to  "Profile", :dashboard_profile
          %li= link_to  "login", :dashboard_login
          %li= link_to  "logout", :dashboard_logout
  = yield

  %footer
    %p
      Copyright 2011 My Name
    %li= link_to  "Contact Us", :contact_us
