!!! 5
%html{ :lang => "en"}
  %head
    %title= "Wygyt"
    = stylesheet_link_tag    "base", :media => "all"
    = stylesheet_link_tag    "website/chat_plays/application", :media => "all"
    = javascript_include_tag "website/chat_plays/application"
    = csrf_meta_tags
  %body.rylyz.wygyt
    #site-header
      %h1 Wygyt
      #site-menu
        %ul
          %li= link_to  "Home", :home_page
          %li= link_to  "Pricing", :pricing
          %li= link_to  "Profiting", :profiting
          %li= link_to  "Installing", :installing
          %li= link_to  "Sign Up", :sign_up

  = yield

  %footer
    %p
      Copyright 2011 My Name
    %li= link_to  "Contact Us", :contact_us
